<div class = wrapper>
<%= content_tag :h1, @recipe.name %>
<div class="grid-container">
  <%= content_tag :p, "Preparation time: #{@recipe.preparation_time}", class: "g-1" %>
  <%= content_tag :p, "Cooking Time: #{@recipe.cooking_time}", class: "g-2" %>
  <%= content_tag :p, "Instructions: #{@recipe.description}", class: "g-3" %>
  <% if (@recipe.user == current_user) %>
  <%= button_to @recipe.public ? 'Is Public' : 'Is Private', recipes_update_path(@recipe), method: :patch, class: "g-4" %> 
  <%= button_to 'Generate shopping list', shopping_list_path, method: :get, class: "g-5" %>
  <%= button_to 'Add ingredient', recipe_food_new_path(@recipe), method: :get, class: "g-6" %>
  <% end %>
</div>
<hr>
<table>
  <tr>
    <th>food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
  <% @recipe.recipe_foods.includes(:food).each do |rf| %>
   <tr>
      <td><%= rf.food.name %></td>
    <td><%= "#{rf.quantity} #{rf.food.measurement_unit}" %></td>
      <td><%= rf.food.price*rf.quantity %></td>
      <% if (@recipe.user == current_user) %>
      <td>
        <%# <%= button_to 'edit', recipe_food_edit_path(rf) %>
        <%= button_to 'Remove', recipe_food_delete_path(rf), method: :delete %>
      </td>
      <% end %>
    </tr>
  <% end %>
</div>
 
